/*body {
  font-family: Verdana;
  font-size: 1em; 
}*/
body h1 {
  color: #000000; 
}
div.song {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  border: 25px solid grey;
}
p {
  text-align: center;
  font-size: 2em;
}

/*a.btn {
  float: left;
  clear: both;
  width: 200px;
  height: auto;
  margin: 1em;
  background: #b5b5b5;
  background-image: -webkit-linear-gradient(top, #b5b5b5, #b82b2b);
  background-image: -moz-linear-gradient(top, #b5b5b5, #b82b2b);
  background-image: -ms-linear-gradient(top, #b5b5b5, #b82b2b);
  background-image: -o-linear-gradient(top, #b5b5b5, #b82b2b);
  background-image: linear-gradient(to bottom, #b5b5b5, #b82b2b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}*/

a.btn.fixed {
  position: fixed;
  top: 30px;
  left: 5px;
}
