
<p>Welcome <%= @current_user.username%>, you are logged in</p>

<a href="/users/logout" role="button" class="btn btn-info">Logout</a>
<br/>
<a href="/songs" role="button" class="btn btn-info">View Songs!</a>
<br/>
<a href="/songs/new" role="button" class="btn btn-info">Post a song!</a>