<% @songs.each do |song| %>
  <div class="song"> 
    <p><a href="/songs/<%= song.id %>"><%= song.title%></a></p>
    <p>
      <%= song.artist %>
    </p>
  </div>
<% end %>

<br/>
<a href="/songs/new"role="button" class="btn fixed btn-info">Post a song!</button></a>

