<% @songs.each do |song| %>
  <div class="song"> 
    <p><a href="/songs/<%= song.id %>"><%= song.title%></a></p>
    <p>
      <%= song.author %>
    </p>
  </div>
<% end %>

<br/>
<a href="/songs/new"><button type="button">Post a song!</button></a>

