<h1>Home Page</h1>
<br/>
<a href="/songs" role="button" class="btn btn-info">View Songs!</a>
<br/>
<a href="/songs/new" role="button" class="btn btn-info">Post a song!</a>
<br/>
<a href="/users/new"role="button" class="btn btn-info">Create account</a>
<br/>
<a href="/users/login"role="button" class="btn btn-info">Login</a>
